<div class="center-form">
    <h1>Login</h1>
    <form class="pure-form pure-form-stacked">
    <div class="form-line">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>

    <div class="form-line">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>

    <div class="button-wrapper">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
        <span class="spacer">or</span>
        <a href="#register">Register</a>
    </div>
</form>
</div>
