<div class="open-new-to-do">
    &plus;
</div>
<div class="new-to-do">
    <div class="close-new-to-do">
        &times;
    </div>
    <form class="pure-form add-task-form">
        <div class="form-line">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>

        <div class="form-line">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
        </div>

        <div class="form-line">
            <label for="dueOn">Due date</label>
            <input type="text" name="dueOn" id="dueOn">
        </div>

        <div class="button-wrapper">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </form>
</div>
<div class="to-do-list"></div>

<div class="logout">Logout</div>
