<div class="info">
  <div class="note"></div>

  <div class="manage">
    <i class="fa fa-pencil edit-note" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-check complete-note" aria-hidden="true"></i>&nbsp;
    <i class="fa fa-times remove-note" aria-hidden="true"></i>
  </div>
</div>

<div class="edit">
  <form class="pure-form pure-form-stacked edit-note-form">
        <div class="form-line">
            <label for="note">note</label>
            <textarea name="note" id="note"></textarea>
        </div>

        <div class="button-wrapper">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
            <button type="button" class="pure-button cancel">Cancel</button>
        </div>
    </form>
</div>
